<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My Posts</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >Add New Post</a
      >
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
  </ul>
</mat-toolbar>
