<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        type="text"
        name="title"
        placeholder="Title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a post title</mat-error
      >
    </mat-form-field>

    <div style="margin-bottom: 15px;">
      <input type="file" #filePicker (change)="onImagePicked($event)" />
      <button
        mat-stroked-button
        mat-button
        type="button"
        (click)="filePicker.click()"
        style="display:block;"
      >
        Pick Image
      </button>
      <div
        class="image-preview"
        *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
      >
        <img [src]="imagePreview" [alt]="form.value.title" />
      </div>
    </div>

    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        name="content"
        placeholder="Message"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter a post content</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
<!-- <p>{{ newPost }}</p> -->
