:host {
  display: block;
  margin-top: 1rem;
}

.text-info {
  text-align: center;
}

h1 {
  font-weight: 400;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
}
